/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property D6D6D6 d6d6d6 */
.root {
	 -fx-background-color: #eda4a4;
}

.table-view {
	-fx-base: #d6d6d6;
    -fx-control-inner-background: #d6d6d6;
    -fx-background-color: #d6d6d6;
}

/* Estilo para button en modo oscuro */
.button {
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2;
    -fx-background-color: #1D1D1D;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: orange;
    -fx-text-fill: black;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}